* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 18.75rem;
    width: 100%;
    min-width: 300px;
    height: auto;
    background-color:#1f1f1f;
    padding: 30px 30px 35px 30px;
    border-radius: 20px;
    justify-content:center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.card ul{
    list-style: none;
    padding: 0;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

.card li a{
    font-size: 15px;
    display: block;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    height: 50px;
    width: 100%;
    margin: 10px 0px;
    background-color: #333333ff;
    border-radius: 10px;
    color:white;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
    line-height: 50px;
}

.card li a:hover{
    background-color:#c5f82aff;
    color:#141414ff;
    cursor: pointer;
}

h1{
    color: #ffffff;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 20px;
}

h2{
    color:#c5f82aff;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    margin-top: 0;
}

p{
    color: #c8c8c8;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    font-weight: 400;
    text-align: center;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}