
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-family: "inter";
    src: url("fonts/inter400.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    font-family: "inter";
    src: url("fonts/inter600.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-family: "inter";
    src: url("fonts/inter700.woff2") format("woff2");
}

body{
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 26.25rem; /* around 420px max for desktop */
    min-width: 21.25rem; /* on small screens, the card shrinks down but never below 340px */
    width: 100%;
    background-color:#1f1f1f;
    padding: 30px 30px 35px 30px;
    border-radius: 20px;
    justify-content:center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.card ul{
    list-style: none;
    padding: 0;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

.card li a{
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
    display: block;
    font-family: 'inter', 'Courier New', Courier, monospace;
    height: 50px;
    width: 100%;
    margin: 15px 0px;
    background-color: #333333ff;
    border-radius: 10px;
    color:white;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
    line-height: 50px;
}

.card li a:hover{
    background-color:#c5f82aff;
    color:#141414ff;
    cursor: pointer;
}

h1{
    color: #ffffff;
    font-family: 'inter', 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    font-size: 1.5625rem;
    font-size: clamp(1.5625rem, 1.5rem + 0.3125vw, 1.875rem);
    margin-bottom: 5px;
    margin-top: 20px;
}

h2{
    color:#c5f82aff;
    font-family: 'inter', 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    font-size: 0.9375rem;
    font-size: clamp(0.9375rem, 0.875rem + 0.3125vw, 1.25rem);
    margin-top: 10px;
}

p{
    color: #c8c8c8;
    font-family: 'inter', 'Courier New', Courier, monospace;
    font-weight: 400;
    text-align: center;
    font-size: 0.626rem;
    font-size: clamp(0.625rem, 0.5625rem + 0.3125vw, 0.9375rem);
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}