body{
    background-color: #141414ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 470px;
    background-color:#1f1f1f;
    padding: 30px;
    margin-top: 50px;
    border-radius: 20px;
    justify-content:start;
    align-items: center;
    text-align: center;
}

h1{
    color: #ffffff;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 20px;
}

h2{
    color:#c5f82aff;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    margin-top: 0;
}

p{
    color: #c8c8c8;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    font-weight: 400;
    text-align: center;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 15px;
}

button{
    font-family: 'Inter', 'Courier New', Courier, monospace;
    width: 300px;
    height: 45px;
    margin: 5px;
    background-color: #333333ff;
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    color:white;
    font-weight: 600;
}

button:hover{
    background-color:#c5f82aff;
    color:#141414ff;
    cursor: pointer;
}